@model KompaniInfo.Models.Sida

@Html.LabelFor(m => m.Namn) @Html.ValidationMessageFor(m => m.Namn, "", new { style = "color: red;" })<br />
@Html.TextBoxFor(m => m.Namn, new { @class = "form-control" })<br /><br />
@Html.LabelFor(m => m.Innehall) @Html.ValidationMessageFor(m => m.Innehall, "", new { style = "color: red;" })<br />
@Html.TextAreaFor(m => m.Innehall, new { @class = "form-control", style = "width: 700px; height:200px; margin-bottom: 25px;" })
<div role="group">
	<input type="file" name="fil" style="margin-bottom: 25px; margin-right: 20px; display: inline; float:left;" />
	<button name="btn" class="btn btn-info" value="LaddaUppBild" type="submit">Ladda upp bild</button>
</div>
<br />
<div class="btn-group">
	<button name="btn" class="btn btn-primary" value="Spara" type="submit">Spara</button>
</div>