@model KompaniInfo.ViewModels.VMPost

@{
    ViewData["Title"] = "Skapa";
}

<h2>Skapa post</h2>

<table style="width:100%;">
  <tr>
    <td style="width:50%">
      <form asp-action="Skapa" enctype="multipart/form-data">
		@Html.LabelFor(m => m.Rubrik)<br />
		@Html.TextBoxFor(m => m.Rubrik) @Html.ValidationMessageFor(m => m.Rubrik)<br /><br />
	  	@Html.LabelFor(m => m.Innehall) @Html.ValidationMessageFor(m => m.Innehall)<br />
		@Html.TextAreaFor(m => m.Innehall, new { style = "width: 700px; height:200px;" })
	  	<input type="file" name="bild" /> 
	  	<button name="btn" value="LaddaUppBild" type="submit">Ladda upp bild</button>
	  	<button name="btn" value="Spara" type="submit">Spara</button>
	  </form>
    </td>
    <td style="width:50%">
		# Stor rubrik<br />
		## Mindre rubrik <br />
		### Liten rubrik <br />

	    * rad 1 i lista<br />
		* rad 2 i lista
    </td>
  </tr>

</table>


