@model KompaniInfo.ViewModels.VMPost

@{
	ViewData["Title"] = "Skapa";
}
<h2>Skapa post</h2>

<div class="row">
	<div class="col-md-8">
		<div class="input-group">
			<form asp-action="Skapa" enctype="multipart/form-data">
				@Html.LabelFor(m => m.Rubrik) @Html.ValidationMessageFor(m => m.Rubrik, "", new { style = "color: red;" })<br />
				@Html.TextBoxFor(m => m.Rubrik, new { @class = "form-control"}) <br /><br />
				@Html.LabelFor(m => m.Innehall) @Html.ValidationMessageFor(m => m.Innehall, "", new { style = "color: red;" })<br />
				@Html.TextAreaFor(m => m.Innehall, new { @class="form-control", style = "width: 700px; height:200px; margin-bottom: 25px;" })
				<div role="group">
					<input type="file" name="fil" style="margin-bottom: 25px; margin-right: 20px; display: inline; float:left;" />
					<button name="btn" class="btn btn-info" value="LaddaUppBild" type="submit">Ladda upp bild</button>
				</div>
				<br />
				<div class="btn-group">
					<button name="btn" class="btn btn-primary" value="Spara" type="submit">Spara</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-3">
		<h1># Stor rubrik</h1><br />
		<h2>## Mindre rubrik</h2> <br />
		<h3>### Liten rubrik</h3> <br />
		<ul>
			<li>* rad 1 i lista</li>
			<li>* rad 2 i lista</li>
		</ul>
		<a href="https://daringfireball.net/projects/markdown/syntax">[Text](url)</a>
	</div>
</div>


